* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #eff3ff;
    overflow-x: hidden;
    height: 100dvh;
}





/* HEADER */

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: initial;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

header>div {
    flex: 1;
    display: initial;
}

header>div:first-child {
    text-align: left;
}

header>div:nth-child(3) {
    text-align: center;
    flex: 2;
}

header>div:last-child {
    text-align: right;
}

header h1 {
    margin: 0;
    font-size: 24px;
    display: inline-block;
    transform: scale(1);
    transition: transform 0.5s ease
}

header h1:hover {
    transform: scale(1.1);
}

header h1 a {
    color: white;
    text-decoration: none;
    transform: scale(1);
    transition: transform 0.3s ease
}

header h1 a:hover {
    color: #f7d02c;
    transform: scale(1.1);
}

nav {
    display: inline-flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
    transform: scale(1);
    transition: transform 0.5s ease
}

nav a:hover {
    color: #f7d02c;
    transform: scale(1.1);
}

#searchBar {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    transition: width 0.3s ease;
}

#searchBar:focus {
    width: 100%;
    outline: none;
    border-color: #f7d02c;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header>div {
        flex: 1;
        margin-bottom: 10px;
    }

    header>div:nth-child(2) {
        flex: 1;
    }

    #searchBar {
        width: 90%;
        margin: 0 auto;
    }

    nav {
        justify-content: center;
        gap: 10px;
    }
}





/* SIDENAV */

.sidebar {
    height: 100dvh;
    width: 0;
    z-index: 1;
    position: fixed;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
}

.sidebar a {
    margin: 10px;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: block;
    transition: 0.3s;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
    display: none;
}

@media (max-width: 768px) {
    .openbtn {
        display: block;
    }

    header {
        align-content: flex-start;
    }

    header>div {
        display: none;
    }
}





/* CAROUSEL */

.carousel {
    position: relative;
    width: 100vw;
    margin-top: 10px;
    height: 140%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    gap: 10px;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex-shrink: 0;
    min-width: calc(60% - 10px);
    height: 350px;
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    z-index: 2;
    padding: 20px;
    border-radius: 8px;
}

.carousel-title {
    margin-top: 10%;
    font-size: 36px; 
    font-weight: bold; 
    margin-bottom: 15px;
}

.carousel-description {
    font-size: 18px; 
    font-weight: 300; 
    line-height: 1.5; 
    max-width: 80%; 
}

@keyframes scroll-carousel {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - 10px));
    }
}

.carousel-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    position: relative;
}

.carousel-dot {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease, background-color 0.3s;
}

.carousel-dot:hover {
    transform: scale(1.5);
}

.carousel-dot.active {
    background-color: #f7d02c;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.8); 
}






/* SEPARATOR */

.separator {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}






/* POKEMON CARD */

.section-card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: row;
    margin-top: 40px;

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        padding: 15px;
        max-width: 600px;
        height: 350px;
        background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/body_gray_bg.png");
        color: white;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transform: translateX(0);
        opacity: 1;
        transition: transform 0.5s ease, opacity 0.5s ease; /* Smooth swipe and fade transitions */
    
        .card-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            height: 100%;

            .card-title {
                font-size: 30px;
                font-weight: 400;
                text-align: left;

                .card-subtitle {
                    font-size: 20px;
                    color: #a4acaf;
                    font-weight: 400;
                }
            }

            .card-type {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                
                .type {
                    width: 140px;
                    height: 32px;
                    padding: 10px;
                    background-color: #E2BF65;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: black;
                    transform: scale(1);
                    transition: transform 0.5s ease;
                }

                .type:hover {
                    transform: scale(1.2);
                }
            }

            .card-description {
                font-size: 15px;
                font-weight: 400;
                text-align: left;
            }
        }
    
        .card-img {
            display: flex;
            box-shadow: 0 4px 4px 0px #212121;
            background-color: #616161;
            border: 3px solid #fff;
            border-radius: 50%;
            margin: 0 auto;
            max-width: 150px;
            max-height: 150px;
            overflow: hidden;
            align-items: center;
            justify-content: center;
            transform: scale(2.5);
            margin-top: 15px;
            transition: transform 0.5s ease;
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    
    .card.swipe-out {
        transform: translateX(-100%);
        opacity: 0;
    }
    
    .card.swipe-in {
        transform: translateX(100%);
        opacity: 0;
    }
    
    .card.active {
        transform: translateX(0);
        opacity: 1;
    }
    
    .card.BeforeFirstActive {
        transform: scale(0);
    }
    
    .card.firstActive {
        transform: scale(1);
    }

    .section-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;

        p {
            font-weight: 400;
        }

        #nextPokemonButton {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #f7d02c;
            border: none;
            border-radius: 8px;
            color: #333;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
            transform: scale(1);
            transition: transform 0.5s ease;
        }
        
        #nextPokemonButton:hover {
            background-color: #e6c02b;
            transform: scale(1.2);
        }
    }
}

.article-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: row;

    .article-info {
        width: 300px;

        p {
            font-weight: 400;
        }

        #button-battles {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #f7d02c;
            border: none;
            border-radius: 8px;
            color: #333;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
            transform: scale(1);
            transition: transform 0.5s ease;
        }
        
        #button-battles:hover {
            background-color: #e6c02b;
            transform: scale(1.2);
        }
    }

    .article-img {
        width: 600px;
        height: 350px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}